PORT=5000
STAGE=development
NODE_ENV=development
CLIENT_URL=http://localhost:5173

# MongoDB Connection String (Set database name to 'schoolsync')
MONGO_URL=mongodb+srv://<username>:<password>@cluster0.b872qiu.mongodb.net/schoolsync?retryWrites=true&w=majority&appName=Cluster0

# Authentication
JWT_SECRET=your_jwt_secret_key_minimum_32_characters

# AI Services
GOOGLE_GENERATIVE_AI_API_KEY=your_gemini_api_key